@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display&display=swap");

$bgd-color: #1c3384;
$secondary-color: #599cff;
$font-stack: "Montserrat", sans-serif;
$secondary-font-stack: "Playfair Display", sans-serif;
$text-color: white;
$highlight-color: #6e47de;

#About {
  justify-content: center;
  align-items: center;

  h1,
  h3,
  p {
    font-family: $font-stack;
    color: white;
  }

  h1 {
    margin-top: 50px;
    margin-left: 60px;
    float: left;
    font-size: 100px;
  }

  .desc {
    margin: 100px auto;
    width: 80%;
    height: 500px;
    text-align: left;
    line-height: 2;

    p {
      font-size: 20px;
      width: 60%;
      float: right;
    }

  }

  .graphic {
    position: absolute;
    left: 60px;
    bottom: 50px;
    width: 400px;
    height: 283.33px;
  }

}
